In [1]:
print("Hello world !")

Hello world !

In [2]:
print(1+1)

2

In [4]:
# one line comment with this way 
'''
This is a multi-line comment in Python.
We can write multiple lines within these triple quotes.
'''

'\nThis is a multi-line comment in Python.\nWe can write multiple lines within these triple quotes.\n'

In [5]:

Name = "Sudhanshu"
print(Name)

Sudhanshu

In [8]:
Name

'Sudhanshu'

In [11]:
# indentaion int the python
def printName(name):
    print(f"Hello  {name}")

In [10]:
printName("Sudhanshu")

Hello  Sudhanshu

In [12]:
# Line continuation by using symbol of "\"
total = 1+2+3+4 \
+6+7+8

print(total)

31

In [13]:
num = 10
print(num)

10

In [14]:
x=10;y=12;z=x+y
print(z)

22

In [15]:
# variable in the python
age = 22
name = "sudhanshu"

In [17]:
type(age)
# type(Name)

int

In [18]:
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [19]:
# python iddentify dataType at run time which provide it dynamic nature
variable = 10
print(type(variable))
variable = "name"
print(type(variable))

<class 'int'>
<class 'str'>

In [2]:
# typecasting
age = '23'
print("age " ,type(age))
age = int(age)
print("age " ,type(age))

age  <class 'str'>
age  <class 'int'>