In [1]:
lst=[]
for i in range(1,21):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
# lets print it with list comprehension
num=[i for i in range(1,20)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [4]:
print(lst[0]) # first element 
print(lst[-1]) # last element
print(lst[len(lst)//2]) #middle element

1
20
11

In [5]:
print(lst[4:9])

[5, 6, 7, 8, 9]

In [6]:
lst.reverse()

In [7]:
lst

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
lst.append(0)

In [9]:
lst

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [10]:
lst.reverse()
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
lst.pop()

20

In [12]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
lst[2:7]

[2, 3, 4, 5, 6]

In [14]:
lst[2:7:3]

[2, 5]

In [15]:
name = ["Sudha" , "Anshuman" , "Aditya" , "Sudha" , "sudha" , "Raja"]
name

['Sudha', 'Anshuman', 'Aditya', 'Sudha', 'sudha', 'Raja']

In [21]:
name

['Anshuman', 'Aditya', 'sudha', 'Raja']

In [22]:
name.removeAll('Aditya')

AttributeError: 'list' object has no attribute 'removeAll'

In [23]:
name.remove("Aditya")

In [24]:
name

['Anshuman', 'sudha', 'Raja']

In [25]:
sqrLst = [num**2 for num in range(1,11)]

In [26]:
sqrLst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
name

['Anshuman', 'sudha', 'Raja']

In [28]:
name.insert(1 , "Aditya")

In [29]:
name

['Anshuman', 'Aditya', 'sudha', 'Raja']

In [30]:
n = "sudhanshu"
n.split("u")

['s', 'dhansh', '']

In [31]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [32]:
evenLst = [evenNum for evenNum in lst if evenNum%2==0]
print(evenLst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
random_list = [random.randint(1, 10) for _ in range(10)]
random = [random.randInt]

NameError: name 'random' is not defined

In [35]:
import random

# Generate a random float between 0.0 and 1.0
random_float = random.random()
print(random_float)

0.7965007497659211

In [37]:
randomInt = [random.randint(15,20) for i in range(1,10)]
randomInt

[16, 18, 18, 15, 19, 16, 17, 20, 17]

In [38]:
randomInt.sort()

In [39]:
randomInt

[15, 16, 16, 17, 17, 18, 18, 19, 20]

In [40]:
multiLst = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
multiLst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [41]:
multiLst[1][2]

6

In [43]:
transpose = [[multiLst[j][i] for j in range(len(multiLst))] for i in range(len(multiLst[0]))]
transpose

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [2]:
lst1 = [1,2,3,4]
lst2= [ 5, 6, 7,8]
zipped = list(zip(lst1 , lst2))
zipped

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [3]:
l = [[1,2],[3,5]]
print(l)
l1 , l2 = zip(*l)
print(l1)
print(l2)

[[1, 2], [3, 5]]
(1, 3)
(2, 5)